In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing as pp
from sklearn import cross_validation as cv
from neupy.algorithms import GRNN as grnn
from neupy.estimators import mse
from datetime import date
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dta = pd.read_excel('data_SARIMA.xlsx',index_col='Date')
dta['Jan'] = dta['Month']==1
dta

,Death,Death_rate,Incidence,Incidence_rate,forecast,Year,Month,error_ARIMA,Jan
Date,,,,,,,,,
2004-01-01,67,0.005154,99466,7.651937,NaN,2004,1,NaN,True
2004-02-01,68,0.005231,84156,6.474136,NaN,2004,2,NaN,False
2004-03-01,111,0.008539,94360,7.259132,NaN,2004,3,NaN,False
2004-04-01,121,0.009309,91944,7.073268,NaN,2004,4,NaN,False
2004-05-01,151,0.011616,90379,6.952873,NaN,2004,5,NaN,False
2004-06-01,140,0.010770,87661,6.743776,NaN,2004,6,NaN,False
2004-07-01,148,0.011386,85117,6.548066,NaN,2004,7,NaN,False
2004-08-01,130,0.010001,85860,6.605225,NaN,2004,8,NaN,False
2004-09-01,100,0.007693,76686,5.899468,NaN,2004,9,NaN,False
2004-10-01,165,0.012693,75824,5.833154,NaN,2004,10,NaN,False
2004-11-01,128,0.009847,61569,4.736514,NaN,2004,11,NaN,False
2004-12-01,106,0.008155,37257,2.866188,NaN,2004,12,NaN,False
2005-01-01,143,0.011001,114194,8.784966,NaN,2005,1,NaN,True
2005-02-01,201,0.015463,87112,6.701542,7.607165,2005,2,0.905622,False
2005-03-01,281,0.021617,130134,10.011233,7.736465,2005,3,-2.274768,False
2005-04-01,374,0.028772,133924,10.302798,9.171985,2005,4,-1.130813,False
2005-05-01,388,0.029849,121326,9.333632,9.495358,2005,5,0.161727,False
2005-06-01,351,0.027002,120665,9.282781,9.035321,2005,6,-0.247460,False
2005-07-01,389,0.029926,104853,8.066361,9.018017,2005,7,0.951656,False
2005-08-01,355,0.027310,106976,8.229684,8.439349,2005,8,0.209665,False
2005-09-01,275,0.021156,95741,7.365373,7.727535,2005,9,0.362162,False
2005-10-01,282,0.021694,89801,6.908408,7.459856,2005,10,0.551448,False
2005-11-01,226,0.017386,89376,6.875712,6.062353,2005,11,-0.813359,False
2005-12-01,137,0.010539,65207,5.016387,4.779777,2005,12,-0.236609,False
2006-01-01,141,0.010783,121435,9.287146,10.850918,2006,1,1.563772,True
2006-02-01,210,0.016060,105269,8.050797,8.012897,2006,2,-0.037901,False
2006-03-01,303,0.023173,117577,8.992093,10.634131,2006,3,1.642038,False
2006-04-01,359,0.027456,112030,8.567867,9.704256,2006,4,1.136389,False
2006-05-01,370,0.028297,109183,8.350134,8.533514,2006,5,0.183380,False
2006-06-01,314,0.024014,101060,7.728900,8.461197,2006,6,0.732297,False
...,...,...,...,...,...,...,...,...,...
2012-07-01,262,0.019446,77353,5.741121,5.684079,2012,7,-0.057042,False
2012-08-01,210,0.015586,75579,5.609456,5.665691,2012,8,0.056235,False
2012-09-01,236,0.017516,68257,5.066018,5.150513,2012,9,0.084495,False
2012-10-01,216,0.016031,71685,5.320444,5.225345,2012,10,-0.095099,False
2012-11-01,170,0.012617,62847,4.664490,4.734252,2012,11,0.069762,False
2012-12-01,195,0.014473,57082,4.236613,4.046828,2012,12,-0.189784,False
2013-01-01,233,0.017208,88539,6.538876,6.767597,2013,1,0.228721,True
2013-02-01,216,0.015952,76557,5.653969,6.190568,2013,2,0.536599,False
2013-03-01,238,0.017577,85255,6.296343,6.459180,2013,3,0.162838,False
2013-04-01,211,0.015583,84395,6.232829,6.045778,2013,4,-0.187051,False
2013-05-01,237,0.017503,81852,6.045021,6.018887,2013,5,-0.026134,False
2013-06-01,205,0.015140,75769,5.595773,5.446087,2013,6,-0.149685,False
2013-07-01,247,0.018242,74805,5.524578,5.315422,2013,7,-0.209157,False
2013-08-01,203,0.014992,73995,5.464757,5.316159,2013,8,-0.148598,False
2013-09-01,206,0.015214,69323,5.119716,4.868834,2013,9,-0.250882,False
2013-10-01,206,0.015214,70727,5.223406,5.206369,2013,10,-0.017037,False
2013-11-01,179,0.013220,62818,4.639302,4.566859,2013,11,-0.072443,False
2013-12-01,195,0.014401,60399,4.460651,4.097730,2013,12,-0.362921,False
2014-01-01,189,0.013947,89128,6.576894,6.741082,2014,1,0.164188,True
2014-02-01,178,0.013135,77153,5.693240,6.007863,2014,2,0.314623,False
2014-03-01,214,0.015791,84473,6.233394,6.623227,2014,3,0.389833,False
2014-04-01,230,0.016972,81543,6.017185,6.426487,2014,4,0.409302,False
2014-05-01,212,0.015644,79530,5.868642,6.247385,2014,5,0.378742,False
2014-06-01,182,0.013430,76366,5.635166,5.749933,2014,6,0.114767,False
2014-07-01,184,0.013578,74607,5.505367,5.615642,2014,7,0.110276,False
2014-08-01,188,0.013873,71144,5.249826,5.534096,2014,8,0.284269,False
2014-09-01,187,0.013799,67087,4.950454,5.118536,2014,9,0.168081,False
2014-10-01,157,0.011585,68456,5.051475,5.261912,2014,10,0.210437,False
2014-11-01,166,0.012249,59949,4.423730,4.664096,2014,11,0.240366,False
2014-12-01,153,0.011290,59945,4.423435,4.345623,2014,12,-0.077812,False

In [3]:
data_train = dta.loc['2005-02-1':'2014-12-01'][['Incidence_rate','forecast','Jan']]
x_train = data_train.loc[:'2013-12-01'][['forecast','Jan']]
y_train = data_train.loc[:'2013-12-01']['Incidence_rate']
x_test = data_train.loc['2014-01-01':][['forecast','Jan']]
y_test = data_train['2014-01-01':]['Incidence_rate']

In [4]:
def try_std(x):
    nn = grnn(std =x ,verbose=False)
    nn.train(x_train,y_train)
    y_pred = nn.predict(x_test)
    print(mse(y_pred,y_test))

In [5]:
for x in np.linspace(0.108,0.11,11):
        print(x)
        try_std(x)
        print('--\n')

0.108
0.1112977101371128
--

0.1082
0.11129752420299159
--

0.1084
0.1112974438794626
--

0.1086
0.11129746801654355
--

0.1088
0.11129759547112932
--

0.109
0.11129782510699994
--

0.1092
0.11129815579484713
--

0.1094
0.11129858641228117
--

0.1096
0.11129911584385505
--

0.1098
0.1112997429810792
--

0.11
0.11130046672243471
--

In [6]:
data_train

            Incidence_rate   forecast    Jan
Date
2005-02-01        6.701542   7.607165  False
2005-03-01       10.011233   7.736465  False
2005-04-01       10.302798   9.171985  False
2005-05-01        9.333632   9.495358  False
2005-06-01        9.282781   9.035321  False
2005-07-01        8.066361   9.018017  False
2005-08-01        8.229684   8.439349  False
2005-09-01        7.365373   7.727535  False
2005-10-01        6.908408   7.459856  False
2005-11-01        6.875712   6.062353  False
2005-12-01        5.016387   4.779777  False
2006-01-01        9.287146  10.850918   True
2006-02-01        8.050797   8.012897  False
2006-03-01        8.992093  10.634131  False
2006-04-01        8.567867   9.704256  False
2006-05-01        8.350134   8.533514  False
2006-06-01        7.728900   8.461197  False
2006-07-01        7.359204   7.168996  False
2006-08-01        7.217719   7.512491  False
2006-09-01        6.348543   6.492687  False
2006-10-01        6.188856   6.122878  False
2006-11-01        4.900884   5.772231  False
2006-12-01        3.242605   3.347397  False
2007-01-01        9.945937   8.281317   True
2007-02-01        7.552361   7.908827  False
2007-03-01        8.712823   9.005109  False
2007-04-01        8.668623   8.665630  False
2007-05-01        8.548955   8.305491  False
2007-06-01        8.119659   8.047677  False
2007-07-01        7.597550   7.494022  False
...                    ...        ...    ...
2012-07-01        5.741121   5.684079  False
2012-08-01        5.609456   5.665691  False
2012-09-01        5.066018   5.150513  False
2012-10-01        5.320444   5.225345  False
2012-11-01        4.664490   4.734252  False
2012-12-01        4.236613   4.046828  False
2013-01-01        6.538876   6.767597   True
2013-02-01        5.653969   6.190568  False
2013-03-01        6.296343   6.459180  False
2013-04-01        6.232829   6.045778  False
2013-05-01        6.045021   6.018887  False
2013-06-01        5.595773   5.446087  False
2013-07-01        5.524578   5.315422  False
2013-08-01        5.464757   5.316159  False
2013-09-01        5.119716   4.868834  False
2013-10-01        5.223406   5.206369  False
2013-11-01        4.639302   4.566859  False
2013-12-01        4.460651   4.097730  False
2014-01-01        6.576894   6.741082   True
2014-02-01        5.693240   6.007863  False
2014-03-01        6.233394   6.623227  False
2014-04-01        6.017185   6.426487  False
2014-05-01        5.868642   6.247385  False
2014-06-01        5.635166   5.749933  False
2014-07-01        5.505367   5.615642  False
2014-08-01        5.249826   5.534096  False
2014-09-01        4.950454   5.118536  False
2014-10-01        5.051475   5.261912  False
2014-11-01        4.423730   4.664096  False
2014-12-01        4.423435   4.345623  False

[119 rows x 3 columns]

In [7]:
mod_GRNN = grnn(std = 0.1092 ,verbose=False)
mod_GRNN.train(x_train,y_train)
data_train['NN']=mod_GRNN.predict(data_train[['forecast','Jan']])
data_train

            Incidence_rate   forecast    Jan        NN
Date
2005-02-01        6.701542   7.607165  False  7.403791
2005-03-01       10.011233   7.736465  False  7.998857
2005-04-01       10.302798   9.171985  False  9.715192
2005-05-01        9.333632   9.495358  False  9.281358
2005-06-01        9.282781   9.035321  False  8.781615
2005-07-01        8.066361   9.018017  False  8.746458
2005-08-01        8.229684   8.439349  False  8.105960
2005-09-01        7.365373   7.727535  False  7.970940
2005-10-01        6.908408   7.459856  False  7.363632
2005-11-01        6.875712   6.062353  False  6.208776
2005-12-01        5.016387   4.779777  False  5.042436
2006-01-01        9.287146  10.850918   True  9.287146
2006-02-01        8.050797   8.012897  False  7.943208
2006-03-01        8.992093  10.634131  False  8.992093
2006-04-01        8.567867   9.704256  False  8.587173
2006-05-01        8.350134   8.533514  False  8.223708
2006-06-01        7.728900   8.461197  False  8.107617
2006-07-01        7.359204   7.168996  False  7.290632
2006-08-01        7.217719   7.512491  False  7.381260
2006-09-01        6.348543   6.492687  False  6.498735
2006-10-01        6.188856   6.122878  False  6.143584
2006-11-01        4.900884   5.772231  False  5.621415
2006-12-01        3.242605   3.347397  False  4.073917
2007-01-01        9.945937   8.281317   True  9.945937
2007-02-01        7.552361   7.908827  False  7.848711
2007-03-01        8.712823   9.005109  False  8.726557
2007-04-01        8.668623   8.665630  False  8.504878
2007-05-01        8.548955   8.305491  False  8.363230
2007-06-01        8.119659   8.047677  False  7.959899
2007-07-01        7.597550   7.494022  False  7.380000
...                    ...        ...    ...       ...
2012-07-01        5.741121   5.684079  False  5.613572
2012-08-01        5.609456   5.665691  False  5.620551
2012-09-01        5.066018   5.150513  False  5.270393
2012-10-01        5.320444   5.225345  False  5.345395
2012-11-01        4.664490   4.734252  False  5.033979
2012-12-01        4.236613   4.046828  False  4.431728
2013-01-01        6.538876   6.767597   True  6.624921
2013-02-01        5.653969   6.190568  False  6.108549
2013-03-01        6.296343   6.459180  False  6.491854
2013-04-01        6.232829   6.045778  False  6.218605
2013-05-01        6.045021   6.018887  False  6.222757
2013-06-01        5.595773   5.446087  False  5.494573
2013-07-01        5.524578   5.315422  False  5.467305
2013-08-01        5.464757   5.316159  False  5.468172
2013-09-01        5.119716   4.868834  False  5.070224
2013-10-01        5.223406   5.206369  False  5.322950
2013-11-01        4.639302   4.566859  False  4.787846
2013-12-01        4.460651   4.097730  False  4.427207
2014-01-01        6.576894   6.741082   True  6.591806
2014-02-01        5.693240   6.007863  False  6.220253
2014-03-01        6.233394   6.623227  False  6.561392
2014-04-01        6.017185   6.426487  False  6.492878
2014-05-01        5.868642   6.247385  False  6.215625
2014-06-01        5.635166   5.749933  False  5.600585
2014-07-01        5.505367   5.615642  False  5.608912
2014-08-01        5.249826   5.534096  False  5.489360
2014-09-01        4.950454   5.118536  False  5.248553
2014-10-01        5.051475   5.261912  False  5.394434
2014-11-01        4.423730   4.664096  False  4.995852
2014-12-01        4.423435   4.345623  False  4.439175

[119 rows x 4 columns]

In [8]:
data_train.to_excel('data_GRNN.xlsx')