In [1]:
import os
import pandas as pd
os.chdir('/Users/Evan/DataScience/TB_Nation/Datasets/')
files = os.listdir()

In [2]:
datasets = pd.DataFrame()
for i in range(1,len(files)):
    for j in os.listdir(files[i]):
        data = pd.read_excel(files[i]+'/'+ j ,skiprows=1).iloc[:1,0:5]
        data = data.rename(columns={'Unnamed: 0':'Area','发病数':'Incidence','死亡数':'Death','发病率':'Incidence_rate','死亡率':'Death_rate'})
        data['Year'],data['Month'],data['Day'] = files[i],j[4:6],'01'
        datasets = pd.concat([datasets,data])
# datasets.index=range(0,len(datasets))
datasets['Date'] = datasets['Year'] + datasets['Month'] + datasets['Day']
datasets.index = pd.to_datetime(datasets['Date'])
datasets = datasets.drop(['Day','Date'],axis=1)
datasets.head()

              Area  Incidence  Death  Incidence_rate  Death_rate  Year Month
Date
2005-01-01  全    国     114194    143        8.784966    0.011001  2005    01
2005-02-01  全    国      87112    201        6.701542    0.015463  2005    02
2005-03-01  全    国     130134    281       10.011233    0.021617  2005    03
2005-04-01  全    国     133924    374       10.302798    0.028772  2005    04
2005-05-01  全    国     121326    388        9.333632    0.029849  2005    05

In [3]:
datasets.to_excel('../TB_nation.xlsx')

ModuleNotFoundError: No module named 'openpyxl'