In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing as pp
from neupy.algorithms import GRNN as grnn
from neupy.estimators import mse
from datetime import date
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dta = pd.read_excel('../Data/First_Seasonal.xlsx',index_col='Date')
# dta['Jan'] = dta['Month']==1
dta.head()

,Death,Death_rate,Incidence,Incidence_rate,forecast,Year,Month,error_ARIMA
Date,,,,,,,,
2005-01-01,143,0.011001,114194,8.784966,NaN,2005,1,NaN
2005-02-01,201,0.015463,87112,6.701542,NaN,2005,2,NaN
2005-03-01,281,0.021617,130134,10.011233,NaN,2005,3,NaN
2005-04-01,374,0.028772,133924,10.302798,NaN,2005,4,NaN
2005-05-01,388,0.029849,121326,9.333632,NaN,2005,5,NaN

In [3]:
data_train = dta.loc['2006-02-1':'2014-12-01'][['Incidence_rate','forecast']]
# data_train = dta.loc['2006-02-1':'2014-12-01'][['Incidence_rate','forecast','Month']]
x_train = data_train.loc[:'2012-12-01'][['forecast']]
# x_train = data_train.loc[:'2012-12-01'][['forecast','Month']]
y_train = data_train.loc[:'2012-12-01']['Incidence_rate']
x_test = data_train.loc['2013-01-01':'2013-12-01'][['forecast']]
# x_test = data_train.loc['2013-01-01':'2013-12-01'][['forecast','Month']]
y_test = data_train['2013-01-01':'2013-12-01']['Incidence_rate']

In [4]:
data_train.head()

            Incidence_rate   forecast
Date
2006-02-01        8.050797   7.203723
2006-03-01        8.992093  11.149426
2006-04-01        8.567867   9.784457
2006-05-01        8.350134   8.662360
2006-06-01        7.728900   8.295792

In [5]:
def try_std(x):
    nn = grnn(std =x ,verbose=False)
    nn.train(x_train,y_train)
    y_pred = nn.predict(x_test)
    print(mse(y_pred,y_test))

In [6]:
for x in np.linspace(0.1,0.8,15):
        print(x)
        try_std(x)
        print('--\n')

0.1
0.13201251768181324
--

0.15
0.11652147783073662
--

0.2
0.0995029590087985
--

0.25
0.08796457117629679
--

0.3
0.08088097670952914
--

0.35
0.07651463604087104
--

0.4
0.07377579781423145
--

0.45
0.07214700140674003
--

0.5
0.071431223134884
--

0.55
0.0715669151367219
--

0.6
0.07254898160727459
--

0.65
0.07440094481646106
--

0.7
0.07715804462936102
--

0.75
0.08085349112355593
--

0.8
0.0855105626983844
--

In [14]:
mod_GRNN = grnn(std = 0.5 ,verbose=False)
mod_GRNN.train(x_train,y_train)
data_train['NN']=mod_GRNN.predict(data_train[['forecast']])
data_train.head()

            Incidence_rate   forecast        NN
Date
2006-02-01        8.050797   7.203723  7.271971
2006-03-01        8.992093  11.149426  9.000839
2006-04-01        8.567867   9.784457  8.604128
2006-05-01        8.350134   8.662360  8.194704
2006-06-01        7.728900   8.295792  8.104015

In [16]:
data_train.to_excel('../Data/Seasonal_GRNN.xlsx')