In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing as pp
from neupy.algorithms import GRNN as grnn
from neupy.estimators import mse
from datetime import date
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dta = pd.read_excel('../Data/Seasonal.xlsx',index_col='Date')
# dta['Jan'] = dta['Month']==1
dta.head()

,Death,Death_rate,Incidence,Incidence_rate,forecast,Year,Month,error_ARIMA
Date,,,,,,,,
2005-01-01,143,0.011001,114194,8.784966,NaN,2005,1,NaN
2005-02-01,201,0.015463,87112,6.701542,NaN,2005,2,NaN
2005-03-01,281,0.021617,130134,10.011233,NaN,2005,3,NaN
2005-04-01,374,0.028772,133924,10.302798,NaN,2005,4,NaN
2005-05-01,388,0.029849,121326,9.333632,NaN,2005,5,NaN

In [13]:
data_train = dta.loc['2006-01-1':'2014-12-01'][['Incidence_rate','forecast']]
x_train = data_train.loc[:'2012-12-01'][['forecast']]
y_train = data_train.loc[:'2012-12-01']['Incidence_rate']
x_test = data_train.loc['2013-01-01':'2013-12-01'][['forecast']]
y_test = data_train['2013-01-01':'2013-12-01']['Incidence_rate']

In [14]:
data_train.head()

            Incidence_rate   forecast
Date
2006-01-01        9.287146   8.784970
2006-02-01        8.050797   7.004054
2006-03-01        8.992093  10.824020
2006-04-01        8.567867   9.688872
2006-05-01        8.350134   8.288515

In [15]:
def try_std(x):
    nn = grnn(std =x ,verbose=False)
    nn.train(x_train,y_train)
    y_pred = nn.predict(x_test)
    print(mse(y_pred,y_test))

In [16]:
for x in np.linspace(0.01,0.1,15):
        print(x)
        try_std(x)
        print('--\n')

0.01
0.06912728132147071
--

0.0164285714286
0.06540349039549899
--

0.0228571428571
0.06171711905531898
--

0.0292857142857
0.059507060562482304
--

0.0357142857143
0.05535659225909573
--

0.0421428571429
0.050392188816842536
--

0.0485714285714
0.046792857632049704
--

0.055
0.04497551429160474
--

0.0614285714286
0.044454589031236835
--

0.0678571428571
0.04472444301989089
--

0.0742857142857
0.04543752265721132
--

0.0807142857143
0.04636985423428674
--

0.0871428571429
0.04737722350819204
--

0.0935714285714
0.048368442065781635
--

0.1
0.04928868218368838
--

In [17]:
try_std(x=0.064)

0.044490495572362

In [18]:
mod_GRNN = grnn(std = 0.0615 ,verbose=False)
mod_GRNN.train(x_train,y_train)
data_train['NN']=mod_GRNN.predict(data_train[['forecast']])
data_train.head()

            Incidence_rate   forecast        NN
Date
2006-01-01        9.287146   8.784970  9.032042
2006-02-01        8.050797   7.004054  7.495376
2006-03-01        8.992093  10.824020  8.992093
2006-04-01        8.567867   9.688872  8.567860
2006-05-01        8.350134   8.288515  8.452993

In [19]:
data_train.to_excel('../Data/Seasonal_GRNN.xlsx')